header{
    box-shadow: 0px 0px 5px 1px #000000;
    background-color: rgb(238, 227, 77);
    color: black ;
    max-width: 100%;
  }
  
  nav.secondnav{
    box-shadow: 0px 0px 5px 1px #000000;
    background-color: rgb(238, 227, 77);
    color: black ;
    max-width:75%;
  }
  
  .external-second-nav{
    max-width: 100%;
    box-shadow: 0px 0px 5px 1px #000000;
    background-color: rgb(238, 227, 77);
  }

  .dropdown-padding {
    padding-left: 40px;
    padding-right: 40px;
  }

  .dropdown-input-item {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  .navbar-padding {
    padding-left: 10px;
    padding-right: 25px;
  }
  
  .dropdown-link-item {
    color: blue;
    text-align: center;
  }
  
  .dropdown-bold-item {
    font-weight: bold;
  }

  .register-box {
    margin-top: 50px;
  }

  .form-items {
    margin-top: 10px;
  }

  .button-margin {
    margin-top: 30px;
  }
  
  .footer {
    bottom: 0;
    width: 100%;
    min-height:50px;
    height: 2.5rem;   
  }
  
  body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  @media (min-width: 992px) {
      .adress-box {
        max-width: 100%;
        width: 100%;
      }
    }