body{
  background-color: rgb(255, 255, 255);
  background-size: 100%;
}

header{
  box-shadow: 0px 0px 5px 1px #000000;
  background-color: rgb(238, 227, 77);
  color: black ;
  max-width: 100%;
}



input{
  height:34px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  border:1px solid #ddd;
  border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}



.dropdown-padding-right {
  padding-left: 0px;
  padding-right: 120px;
}

.dropdown-padding-left {
  padding-left: 40px;
  padding-right: 10px;
}

.dropdown-input-item {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.navbar-padding {
  padding-left: 10px;
  padding-right: 25px;
}

.dropdown-link-item {
  color: blue;
  text-align: center;
}

.dropdown-bold-item {
  font-weight: bold;
}


.logo {
  display: flex !important;
  justify-content: center;
  margin-top: 30px;
}

.main-logo {
  width: 300px;
  height: auto;
}



main{
  min-height:1000px;
}


.kosik_item{
  margin-top:0;
  margin-bottom:0;
  text-align: center;
}

.kosik_item img{
  width:100%;
}


#container_doprava{
  border-color:#000000;
  border:2px solid;
  background-color: rgb(255, 255, 255);
}



.x-button{
  align-self:end;
  
}





/*     MEDIA QURIES FOR TEXT SIZES AND IMG SIZES */

@media (min-width: 250px) {
  .kosik_item img{
    width:70%;
  }
  h2{
    font-size:12px;
  }
  h6{
    font-size:10px
  }
  h4{
    font-size:10px
  }
  h1{
    font-size: 17px;
  }
  p{
    font-size: 10px
  }
}

@media (min-width: 400px) {
  .kosik_item img{
    width:100%;
  }
  h2{
    font-size:15px;
  }
  h6{
    font-size:10px
  }
  h4{
    font-size:11px
  }
  h1{
    font-size: 22px;
  }
  p{
    font-size: 12px
  }
}

@media (min-width: 576px) {
  .kosik_item img{
    width:100%;
  }
  h2{
    font-size:15px;
  }
  h6{
    font-size:10px
  }
  h4{
    font-size:12px
  }
  h1{
    font-size: 25px;
  }
  p{
    font-size: 13px
  }
}

@media (min-width: 768px) {
  .kosik_item img{
    width:100%;
  }
  h2{
    font-size:20px;
  }
  h6{
    font-size:15px
  }
  h4{
    font-size:16px
  }
  h1{
    font-size: 30px;
  }
  p{
    font-size: 15px
  }
}

@media (min-width: 992px) {
  .kosik_item img{
    width:100%;
  }
  h2{
    font-size:30px;
  }
  h6{
    font-size:15px;
  }
  h4{
    font-size:18px
  }
  h1{
    font-size:35px;
  }
  p{
    font-size: 13px
  }
}

@media (min-width: 1200px) {
  .kosik_item img{
    width:100%;
  }
  h2{
    font-size:22px;
  }
  h6{
    font-size:13px;
  }
  h4{
    font-size:15px
  }
  h1{
    font-size: 27px;
  }
  p{
    font-size: 14px
  }
}

@media (min-width: 1400px) {
  .kosik_item img{
    width:100%;
  }
  h2{
    font-size:25px;
  }
  h6{
    font-size:15px;
  }
  h4{
    font-size:17px
  }
  h1{
    font-size: 30px;
  }
  p{
    font-size: 14px
  }
}


